<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <span class="divider"><img class="logo" src="assets/image/logo_words.png"></span>

    <form (submit)="signUp()" [formGroup]="registrationForm">
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="4" size-sm="8" size-xs="12">
                <ion-list>

                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" required type="text"></ion-input>
                    </ion-item>
                    <div *ngIf="registrationForm.get('email').invalid && (registrationForm.get('email').touched || registrationForm.get('email').dirty)"
                         style="color: red; text-align:right;">Email not valid
                    </div>

                    <ion-item lines="full">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input formControlName="password" required type="password"></ion-input>
                    </ion-item>
                    <div *ngIf="registrationForm.get('password').invalid && (registrationForm.get('password').touched || registrationForm.get('password').dirty)"
                         style="color: red; text-align:right">
                        Password to short
                    </div>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-md="4" size-sm="8" size-xs="12">
                <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit">Sign up
                </ion-button>

                <span class="divider line one-line">or</span>

                <p class="already">Already have a account?</p>

                <ion-button [routerLink]="['/login']" color="primary" expand="block">Sign in</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
