<ion-header>
  <ion-toolbar>
    <ion-buttons class="nav-logo">
      <ion-img src="assets/image/logo_words.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionFocus)="openSearchPage()" animated placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="embedresize">
    <iframe width="auto"
            height="auto"
            [src]="https://www.youtube.com/embed/feQS7GpsVVI"
            frameborder="0"
            allowfullscreen
            allow="autoplay">
    </iframe>
  </div>
</ion-content>


