<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons class="nav-logo">
            <ion-img src="assets/image/logo_words.png"></ion-img>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionFocus)="openSearchPage()" animated placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<iframe [src]="videoUrl"
        allow="autoplay;  picture-in-picture; gyroscope"
        allowfullscreen
        class="movie_video" controls
        controlsList="nodownload">
</iframe>
