.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.logo {
  margin-top: -30px;
  margin-bottom: -40px;
  padding-bottom: 0;
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: #cccccc;
  }
}

.already {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
