.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

ion-card:hover {
  border: 2px solid red;
}


.divider {
  margin-bottom: 8px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.divider:first-child {
  margin-top: 20px;
}

.divider:hover {
  font-weight: bold;
}

.cast-and-crew {

  .title {
    font-size: 21px;
  }

  .cast-list {
    display: flex;

    .cast-item {
      width: 150px;
      height: 150px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .cast-photo {
        padding: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;


        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          object-fit: cover;
          overflow: hidden;
        }
      }

      .cast-info {
        width: 120px;
        height: 120px;
        margin-top: 10px;
        text-align: center;
        overflow: hidden;

        .cast-name {
          font-size: 13px;
          font-weight: bold;
        }

        .cast-character {
          font-size: 12px;
          font-weight: 300;
          color: #b1b1b1;
        }
      }
    }

  }
}

.movie-overview {
  position: relative;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.movie-overview:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 2;
}

.movie-info {
  padding: 30px;
  padding-top: 35px;

  .title {
    font-size: 45px;
    font-weight: 900;
  }

  .release-data {

  }

  .genre {
  }

  .runtime {
    position: relative;

    ion-icon {
      top: 0;
      position: absolute;
    }

    span {
      margin-left: 20px
    }
  }

  .tagline {
    font-weight: lighter;
    font-style: italic;
    color: #989aa2;
  }

  .overview {
    text-align: justify;
    text-justify: inter-word;
  }
}


.profile-btn {
  margin-left: -15px;
  padding: 0;

  ion-button {
    margin-right: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
  }
}


.hoverPlay {
  color: #FFFFFF;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 150px;

  ion-icon {
    margin-top: 50%;
  }
}


.movie-poster:hover > .hoverPlay {
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
}


.review-author {
  font-size: 18px;
}

.review-content {
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
}


.avatar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.avatarImg {
  margin-top: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  overflow: hidden;
}


@media screen and (max-width: 720px) {
  .movie-info {
    text-align: center;
    padding: 15px;
    padding-top: 0px;
  }

  .profile-btn {
    margin-left: 0;

    ion-button {
      margin-right: 0;
    }
  }

  .swiper-button-prev {
    visibility: hidden;
  }

  .swiper-button-next {
    visibility: hidden;
  }

  .profile-btn {
    justify-content: space-between;
  }
}
