<ion-content>

    <loading-icon *ngIf="!favorites"></loading-icon>

    <div *ngIf="favorites" class="movie-poster-card">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let movie of favorites" size-md="3" size-sm="4" size-xl="2" size-xs="6"
                         style="text-align: center; padding: 0;">
                    <ion-card>
                        <ion-button (click)="deleteFromFavorite(movie)" class="deleteBtn" color="danger" fill="solid"
                                    shape="round">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-img (ionError)="coreService.handleImgError($event)"
                                 [alt]="movie.title"
                                 [routerLink]="['/movie-detail/', movie.id]"
                                 src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
