<ion-app>
    <ion-split-pane content-id="content1" when="md">
        <ion-menu [disabled]="!coreService.menuEnable" content-id="content1" menu-id="first" side="start">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Navigate</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngFor="let p of navigate" [disabled]="!p.visible" [routerDirection]="'forward'"
                                  [routerLink]="[p.url]">
                            <ion-icon [name]="p.icon"></ion-icon>
                            <ion-label>
                                <h2>{{p.title}}</h2>
                            </ion-label>
                        </ion-item>
                        <ion-item (click)="signOut()" [disabled]="!auth.isLoggedIn" [routerLink]="">
                            <ion-icon name="exit"></ion-icon>
                            <ion-label>
                                <h2>Logout</h2>
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="content1"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
