.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 90px;
  max-width: 15%;
  border-right: var(--border);
  border-left: 0;
}

ion-item:first-child {
  margin-top: 20px;
}

ion-item {
  margin-bottom: 20px;

  ion-icon {
    margin-right: 10px;
  }
}
