<ion-app>
    <ion-split-pane content-id="content1" when="md">
        <ion-menu [disabled]="!coreService.menuEnable" content-id="content1" menu-id="first" side="start">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Navigate</ion-title>
                    <ion-buttons slot="end">
                        <ion-button class="profileBtn">
                            <ion-icon name="person" slot="start"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list *ngFor="let p of navigate">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [disabled]="!p.visible" [routerDirection]="'forward'" [routerLink]="[p.url]">
                            <ion-icon [name]="p.icon" slot="start"></ion-icon>
                            <ion-label>
                                <h2>{{p.title}}</h2>
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>

            <ion-footer class="ion-justify-content-center" style="text-align: center">
                <ion-button color="dark" (click)="auth.SignOut()" type="submit">Logout</ion-button>
            </ion-footer>
        </ion-menu>

        <ion-router-outlet id="content1"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
