<ion-content>

    <div class="movie-poster-card" *ngIf="watchList">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let movie of watchList" size-md="3" size-sm="4" size-xl="2" size-xs="6"
                         style="text-align: center; padding: 0;">
                    <ion-card>
                        <ion-button class="deleteBtn" fill="solid" color="danger" shape="round"
                                    (click)="deleteFormWatchList(movie)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-img (ionError)="coreService.handleImgError($event)"
                                 [alt]="movie.title"
                                 [routerLink]="['/movie-detail/', movie.id]"
                                 src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
