<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons class="nav-logo">
            <ion-img src="assets/image/logo_words.png"></ion-img>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionFocus)="openSearchPage()" animated placeholder="Search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <loading-icon *ngIf="!isPopularMovieListLoaded"></loading-icon>
    <ion-row>
        <ion-col>
            <div (click)="slider.prevSlide(latestMovieSlider)" class="swiper-button-prev swiper-button-black"></div>
            <ion-slides #latestMovieSlider [options]="slider.fullScreenSlideOpt">
                <ion-slide *ngFor="let movie of upcomingMovieList">
                    <ion-row>
                        <ion-col style="text-align: center; padding: 0;">
                            <ion-card>
                                <span class="rating">{{movie.vote_average}}</span>
                                <ion-img (ionError)="coreService.handleImgError($event)"
                                         [alt]="movie.title"
                                         [routerLink]="['/movie-detail/', movie.id]"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div (click)="slider.nextSlide(latestMovieSlider)" class="swiper-button-next swiper-button-black"></div>
        </ion-col>
    </ion-row>


    <loading-icon *ngIf="!isPopularMovieListLoaded"></loading-icon>
    <ion-row>
        <ion-col>
            <div class="divider-wrapper">
                <ion-item-divider><a [routerLink]="['/movie-list/', 'popular']" class="divider">Popular</a>
                </ion-item-divider>
            </div>

            <div (click)="slider.prevSlide(popularMovieSlider)" class="swiper-button-prev swiper-button-black"></div>
            <ion-slides #popularMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of popularMovieList">
                    <ion-row>
                        <ion-col style="text-align: center; padding: 0;">
                            <ion-card>
                                <span class="rating">{{movie.vote_average}}</span>
                                <ion-img (ionError)="coreService.handleImgError($event)"
                                         [alt]="movie.title"
                                         [routerLink]="['/movie-detail/', movie.id]"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div (click)="slider.nextSlide(popularMovieSlider)" class="swiper-button-next swiper-button-black"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!isUpcomingMovieListLoaded"></loading-icon>
    <ion-row>
        <ion-col>
            <div class="divider-wrapper">
                <ion-item-divider><a [routerLink]="['/movie-list/', 'upcoming']" class="divider">Upcoming</a>
                </ion-item-divider>
            </div>

            <div (click)="slider.prevSlide(upcomingMovieSlider)" class="swiper-button-prev swiper-button-black"></div>
            <ion-slides #upcomingMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of upcomingMovieList">
                    <ion-row>
                        <ion-col style="text-align: center; padding: 0;">
                            <ion-card>
                                <span class="rating">{{movie.vote_average}}</span>
                                <ion-img (ionError)="coreService.handleImgError($event)"
                                         [alt]="movie.title"
                                         [routerLink]="['/movie-detail/', movie.id]"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div (click)="slider.nextSlide(upcomingMovieSlider)" class="swiper-button-next swiper-button-black"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!topRatedMovieList"></loading-icon>
    <ion-row>
        <ion-col>
            <div class="divider-wrapper">
                <ion-item-divider><a [routerLink]="['/movie-list/', 'topRated']" class="divider">Top Rated</a>
                </ion-item-divider>
            </div>

            <div (click)="slider.prevSlide(nowPlayingSlider)" class="swiper-button-prev swiper-button-black"></div>
            <ion-slides #nowPlayingSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of topRatedMovieList">
                    <ion-row>
                        <ion-col style="text-align: center; padding: 0;">
                            <ion-card>
                                <span class="rating">{{movie.vote_average}}</span>
                                <ion-img (ionError)="coreService.handleImgError($event)"
                                         [alt]="movie.title"
                                         [routerLink]="['/movie-detail/', movie.id]"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div (click)="slider.nextSlide(nowPlayingSlider)" class="swiper-button-next swiper-button-black"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!nowPlayingMovieList"></loading-icon>
    <ion-row>
        <ion-col>
            <div class="divider-wrapper">
                <ion-item-divider><a [routerLink]="['/movie-list/', 'nowPlaying']" class="divider">Now Playing</a>
                </ion-item-divider>
            </div>
            <div (click)="slider.prevSlide(topRatedMovieSlider)" class="swiper-button-prev swiper-button-black"></div>
            <ion-slides #topRatedMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of nowPlayingMovieList">
                    <ion-row>
                        <ion-col style="text-align: center; padding: 0;">
                            <ion-card>
                                <span class="rating">{{movie.vote_average}}</span>
                                <ion-img (ionError)="coreService.handleImgError($event)"
                                         [alt]="movie.title"
                                         [routerLink]="['/movie-detail/', movie.id]"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div (click)="slider.nextSlide(topRatedMovieSlider)" class="swiper-button-next swiper-button-black"></div>
        </ion-col>
    </ion-row>
</ion-content>
