<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Reset Your Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <span class="divider"><img class="logo" src="assets/image/logo_words.png"></span>

    <form (submit)="passwordRecover()" [formGroup]="passwordRecoverForm">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" required type="email"></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button [disabled]="!passwordRecoverForm.valid" color="danger" expand="block" type="submit">SEND
                </ion-button>
            </ion-col>
        </ion-row>

        <small>
            Please provide the email address that you used when you signed
            up for your Evernote account.
        </small>
    </form>
</ion-content>
