<ion-header>
    <ion-toolbar>
        <ion-title>
            Movies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <loading-icon *ngIf="!isPopularMovieListLoaded"></loading-icon>
    <ion-row>
        <ion-col>
            <div class="divider-wrapper">
                <ion-item-divider><a class="divider">Popular</a></ion-item-divider>
            </div>

            <div class="swiper-button-prev swiper-button-black" (click)="slider.prevSlide(popularMovieSlider)"></div>
            <ion-slides #popularMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of popularMovieList">
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img [routerLink]="['/movie-detail/', movie.id]"
                                     onError="this.src = '../assets/images/no-image-poster.png'"
                                     src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                                     [alt]="movie.title"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div class="swiper-button-next swiper-button-black" (click)="slider.nextSlide(popularMovieSlider)"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!isUpcomingMovieListLoaded"></loading-icon>
    <ion-row>
        <ion-col>
            <ion-item-divider><a class="divider">Upcoming</a></ion-item-divider>

            <div class="swiper-button-prev swiper-button-black" (click)="slider.prevSlide(upcomingMovieSlider)"></div>
            <ion-slides #upcomingMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of upcomingMovieList">
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img [routerLink]="['/movie-detail/', movie.id]"
                                         onError="this.src = '../assets/images/no-image-poster.png'"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                                         [alt]="movie.title"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div class="swiper-button-next swiper-button-black" (click)="slider.nextSlide(upcomingMovieSlider)"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!topRatedMovieList"></loading-icon>
    <ion-row>
        <ion-col>
            <ion-item-divider><a class="divider">Top Rated</a></ion-item-divider>

            <div class="swiper-button-prev swiper-button-black" (click)="slider.prevSlide(nowPlayingSlider)"></div>
            <ion-slides #nowPlayingSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of topRatedMovieList">
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img [routerLink]="['/movie-detail/', movie.id]"
                                         onError="this.src = '../assets/images/no-image-poster.png'"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                                         [alt]="movie.title"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div class="swiper-button-next swiper-button-black" (click)="slider.nextSlide(nowPlayingSlider)"></div>
        </ion-col>
    </ion-row>

    <loading-icon *ngIf="!nowPlayingMovieList"></loading-icon>
    <ion-row>
        <ion-col>
            <ion-item-divider><a class="divider">Now Playing</a></ion-item-divider>

            <div class="swiper-button-prev swiper-button-black" (click)="slider.prevSlide(topRatedMovieSlider)"></div>
            <ion-slides #topRatedMovieSlider [options]="slider.slideOpts">
                <ion-slide *ngFor="let movie of nowPlayingMovieList">
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img [routerLink]="['/movie-detail/', movie.id]"
                                         onError="this.src = '../assets/images/no-image-poster.png'"
                                         src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                                         [alt]="movie.title"></ion-img>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
            <div class="swiper-button-next swiper-button-black" (click)="slider.nextSlide(topRatedMovieSlider)"></div>
        </ion-col>
    </ion-row>

</ion-content>
